<h1> Restaurants Near You! </h1>

<ul>
  <% @restaurants.each do |r| %>
    <li>
    <p> <%= link_to "#{r.name}", restaurant_path(r.id) %> </p>
    <p> <%= r.neighbourhood %> </p>
  <% end %>
    </li>
</ul>

<!-- link_to(user profile) -->
