<div class="currentrestaurants">
  <h2>Your Restaurants</h2>

  <ul class="restaurants">
    <li> Restaurant 1 with Info and Picture</li>
    <li> Restaurant 2 with Info and Picture</li>
  </ul>

</div>

<div class="createarestaurant">
  <a href="restaurantsignup">Create a Restaurant</a>

</div>
