
<div>
  <h3 class="points"> <%= "You have #{60} credits" %> </h3>
</div>


<div class="activebookings">
  <h2>Active Bookings</h2>

  <ul class="ablist">
    <li> Booking 1 with Info and Picture</li>
    <li> Booking 2 with Info and Picture</li>
  </ul>

</div>

<div class="makeabooking">
  <a href="restaurantindex">Make A Booking</a>

</div>
