<h1>
  <% if logged_in? %>
    <p class="username">Welcome, <%= current_user.name%>!</p>
    <% else %>
    Not logged in

  <% end %>
</h1>

<% if current_user.role == "user" %>
    <%= render 'user_profile' %>
<% else %>
    <%= render 'owner_profile' %>
<% end %>
